.game {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;

    outline: 5px solid var(--secondary-square);
    border-radius: 1rem;

    &:before,
    &:after {
        content: "";
        background: var(--primary-bg);
        position: absolute;
        top: 2px;
        bottom: 2px;
        z-index: 999;
        animation-delay: 1s;
    }

    &:before {
        left: 0;
        right: 100%;
        animation: slideLeft 1s;
    }

    &:after {
        left: 100%;
        right: 0;
        animation: slideRight 1s;
    }
}

@keyframes slideLeft {
    0% {
        right: 50%;
    }
    
    100% {
        right: 100%;
    }
}

@keyframes slideRight {
    0% {
        left: 50%;
    }
    
    100% {
        left: 100%;
    }
}