@import url("./styles/Promote.scss");
@import url("./styles/ModalEndGame.scss");
@import url("./styles/StepGameLink.scss");
@import url("./styles/StepColor.scss");
@import url("./styles/StartPage.scss");
@import url("./styles/Board.scss");
@import url("./styles/Loading.scss");
@import url("./styles/Hint.scss");
@import url("./styles/Square.scss");
@import url("./styles/GameApp.scss");
@import url("./styles/Coordinates.scss");
@import url("./styles/Error.scss");


#root {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}